@model string
<h2 class="text-danger">Zugriff verweigert</h2>
<p class="text-danger">
    Sie verfügen nicht über die notwendigen Rechte, um diese Resource zu sehen.
</p>
<p>
    <a href="@Model">Back</a>
</p>
